.cart {
  display: inline-block;
}

.cart__title {
  color: $color-nonactive;
  display: inline-block;
  font-family: $sign-font;
  font-size: rem(12px);
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;

  &:visited,
  &:active {
    color: $color-nonactive;
    text-decoration: none;
  }

  &:hover {
    color: $color-main;
    cursor: pointer;
    text-decoration: none;
  }
}

.cart__ammount {
  border: 2px solid $color-active;
  border-radius: 50%;
  color: $color-main;
  display: inline-block;
  font-family: $sign-font;
  font-size: rem(12px);
  font-weight: 700;
  height: rem(44px);
  line-height: rem(48px);
  margin: 0 rem(6px) 0 rem(13px);
  text-align: center;
  text-transform: uppercase;
  width: rem(44px);
}
