.currency {
  align-items: center;
  border-right: 1px solid $color-layout;
  display: flex;
  font-family: $sign-font;
  font-size: rem(11px);
  font-weight: 700;
  letter-spacing: 1px;
  min-width: 75px;
  padding: 0 21px;
  position: relative;
  text-transform: uppercase;
}

.currency .icon {
  fill: $color-nonactive;
  height: rem(7px);
  position: absolute;
  right: rem(20px);
  width: rem(7px);

}

.currency__selected:hover + .icon{
  fill: $color-main;
}

.currency__selected {
  color: $color-nonactive;
  cursor: pointer;
  min-width: 55px;
  padding: rem(2px) rem(20px) rem(2px) rem(2px);

  &:hover {
    color: $color-main;
  }
}


.currency__list {
  background: $color-white;
  color: $color-nonactive;
  left: rem(18px);
  letter-spacing: 1px;
  list-style: none;
  margin: 0;
  min-width: rem(20px);
  opacity: 1;
  padding: 0 rem(5px);
  position: absolute;
  top: rem(30px);
  transition: opacity .1s linear;

  &.hide {
    opacity: 0;
  }
}

.currency__item {
  cursor: pointer;

  &:hover {
    color: $color-main;
  }
}
