.main-menu {
  display: inline-flex;
  flex-wrap: wrap;
  font-family: $sign-font;
  font-size: rem(12px);
  font-weight: 700;
  justify-content: center;
  letter-spacing: 1px;
  list-style: none;
  margin: 0 0 0 rem(57px);
  padding: 0;
  text-transform: uppercase;

  @include tablet {
    margin: 0;
  }
}

.main-menu__elem {
  display: inline-block;
  margin-left: 54px;

  &:first-child {
    margin-left: 0;
  }

  @include tablet {
    &:first-child {
      margin-left: rem(10px);
    }

    margin: 0 rem(10px) rem(20px);
  }

}

.main-menu__link {
  color: $color-nonactive;
  position: relative;
  text-decoration: none;

  &:visited,
  &:active {
    color: $color-nonactive;
    text-decoration: none;
  }

  &:hover {
    color: $color-main;
    cursor: pointer;
    text-decoration: none;
  }
}

.main-menu__link.main-menu__link_active {
  color: $color-main;

  &::after {
    background-color: $color-active;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    top: rem(18px);
    width: 100%;
  }
}

.main-menu__link.main-menu__link_sale {
  color: $color-sale;

  &:hover {
    color: $color-main;
  }
}
