.subscribe {
  background: url('../img/layer.jpg') center center no-repeat;
  background-size: cover;
}

.subscribe .container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: rem(284px);
}

.subscribe__sign {
  color: $color-main  ;
  font-family: $sign-font;
  font-size: rem(12px);
  font-weight: 700;
  margin-bottom: rem(20px);
  opacity: .6;
  text-transform: uppercase;
}

.subscribe__title {
  color: $color-white;
  font-family: $base-font;
  font-size: rem(38px);
  font-weight: 400;
  margin-bottom: rem(24px);
}

.subscribe__btn {
  background-color: transparent;
  border: 2px solid $color-white;
  border-radius: rem(25px);
  color: $color-white;
  display: inline-block;
  font-family: Lato;
  font-size: rem(12px);
  font-weight: 700;
  height: rem(45px);
  line-height: 50px;
  padding-left: 20px;
  position: relative;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 300ms ease-out;
  width: rem(280px);

  &:visited,
  &:active {
    color: $color-white;
    text-decoration: none;
  }

  @include phone {
    width: rem(230px);
  }

  .icon {
    fill: $color-white;
    height: rem(10px);
    position: absolute;
    right: 30px;
    top: 20px;
    width: rem(12px);
  }
}

.subscribe__btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 300ms ease-out;
}
