.header
  .header__top
    .container
      .header__inner-left
        include ../blocks/_top-menu
      .header__inner-right
        include ../blocks/_currency
        include ../blocks/_language
  .header__bottom
    .container
      include ../blocks/_logo
      include ../blocks/_main-menu
      include ../blocks/_cart
      include ../blocks/_search
