.header {
  margin-bottom: 100px;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header__top .container {
  align-items: stretch;
  min-height: rem(44px);
}

.header__bottom .container {
  align-items: center;
  min-height: rem(100px);

  @include phone {
    flex-direction: column;

    .logotype, .main-menu, .header__inner-info {
      margin-bottom: rem(20px);
    }
  }
}

.header__top,
.header__bottom {
  border-bottom: 1px solid $color-layout;
}

.header__top {
  @include phone {
    margin-bottom: rem(20px);
  }
}

.header__inner-left, .header__inner-right {
  align-items: center;
  display: flex;
}

.header__inner-right {
  align-items: stretch;
}

.header__inner-info {
  .search {
    margin-left: rem(10px);
    position: relative;
    top: rem(5px);
  }
}

@import '../blocks/top-menu';
@import '../blocks/currency';
@import '../blocks/language';
@import '../blocks/main-menu';
@import '../blocks/cart';
@import '../blocks/search';
