.main .container {
  text-align: center;
}

.title {
  color: $color-main;
  font-family: $base-font;
  font-size: rem(58px);
  font-weight: 400;
  margin-bottom: rem(55px);
}

.dollar {
  fill: $color-nonactive;
  height: rem(12px);
  width: rem(12px);
}

.filter.main__filter {
  margin-bottom: rem(50px);
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 0 0 rem(25px) 0;
  padding: 0;
  text-align: center;

  @media screen and (max-width: 1024px) {
    justify-content: center;
  }
}

.products__item {
  display: inline-block;
  margin-left: rem(30px);

  &:first-child, &:nth-child(6n-1) {
    margin-left: 0;
  }

  @media screen and (max-width: 1024px) {
    margin: 0 rem(10px);

    &:first-child, &:nth-child(6n-1) {
      margin-left: rem(10px);
      margin-right: rem(10px);
    }
  }
}

.loader {
  color: $color-nonactive;
  display: inline-block;
  font-family: $sign-font;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 60px;
  text-transform: uppercase;
}

@import '../blocks/filter';
@import '../blocks/product';
@import '../blocks/subscribe';
