.subscribe
  .container
    .subscribe__sign Subscribe
    .subscribe__title Stay updated on news
    a.subscribe__btn(href="#" title='subscribe') Your Email Address
      svg.icon
        use(xlink:href='assets/img/sprite/sprite.svg#arrow_right')
      
